@font-face {
    font-family: Righteous;
    src: url(./fonts/Righteous-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: #E0E0E0;
    font-family: Righteous;
}

body {
    background-color:  #212121;
}

header {
    background-color: #2C2C2C;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.info-header {
    background-color: #2C2C2C;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 15px;
    padding-right: 20px;
    display: none;
    flex-direction: column;
    gap: 15px;
    text-align: justify;

}
.info-header.active {
    display: flex;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer {
    background-color: #2C2C2C;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #bb2a5857;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.info-api, .info-me {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}



.icon {
    width: 20px;
    height: 20px;
}
.menu-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

a {
    color: #bb2a58;
    text-decoration: none;
}
a:hover {
    color: #e63f74;
}





table {
    min-width: 600px;
    max-width: 650px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 12px 15px;
    text-align: left;
  }


  td {
    white-space: nowrap;       /* Tudo em uma linha só */
    overflow: hidden;          /* Esconde o que passar do limite */
    text-overflow: ellipsis;   /* Adiciona os "..." no final */
    max-width: 200px;          /* Define uma largura máxima */
  }
  
  thead {
    background-color: #f4f4f4;
  }
  thead th {
    color:#212121;
  }

  
  
  